
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/BlazorDapperCRUD.AssemblyInfo.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/BlazorDapperCRUD.AssemblyInfoInputs.cache
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/BlazorDapperCRUD.csprojAssemblyReference.cache
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/BlazorDapperCRUD.RazorAssemblyInfo.cache
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/BlazorDapperCRUD.RazorAssemblyInfo.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/BlazorDapperCRUD.RazorComponent.input.cache
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/RazorDeclaration/_Imports.razor.g.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/RazorDeclaration/App.razor.g.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/VideoAddEdit.razor.g.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/VideoList.razor.g.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/Footer.razor.g.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/Header.razor.g.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
src/BlazorDapperCRUD/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
